<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Feed ME Seymour!</h1>
        </div>
    </div>
    <div class="row">
         <div class="col-md-6">
             {{#each burger_data}}
              {{#unless this.devoured}}
         </div>
    </div>
</div>